#Officehours {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Officehours td, #Officehours th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Officehours tr:nth-child(even){background-color: #f2f2f2;}

#Officehours tr:hover {background-color: #ddd;}

#Officehours th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


    //================OFFICEHOURS====================

<div class="customdiv"></div>

<div class="wrap__page-content">
    <div class="wrap__page-content--inner">
        
        {#{% component "editable" file="office-hourshtml.htm" %}#}
        
    </div>
</div>

<script>
    //================OFFICEHOURS====================

    var x = 0;
    setInterval(function(){
        if (x === 0){
        $('.wrap__page-content, .wrap__hours .component__title-caption-wrap').attr('style','display:none;');
        $('.wrap__hours').prependTo('.customdiv');
        x++;
        }
        else{
            return;
        }
    },500);
</script>
<style>
    #hours{
        float:none!important;
    }
    #map{
        width:100%;
    }
</style>